/* Atur semua elemen agar padding & border tidak menambah lebar elemen */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  background-color: #F9E400;
  background-image: radial-gradient(
    #FFFFFF 6px,
    transparent 6px
  );
  background-size: 60px 60px;
}

h1{
  font-family: "SuperBouncer";
  font-size: 32px;
}