@font-face{
  font-family: "PeaceSans";
  src: url(./Assets/font/peace_sans/Peace\ Sans\ Webfont.ttf);
}

@font-face {
  font-family: "SuperBouncer";
  src: url('./Assets/font/super_bouncer/Super\ Bouncer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "AlteHaasGrotesk";
  src: url(./Assets/font/alte_haas_grotesk/AlteHaasGroteskRegular.ttf);
}

/* Atur semua elemen agar padding & border tidak menambah lebar elemen */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Hilangkan margin bawaan & cegah scroll ke samping */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  background-color: #F9E400;
  background-image: radial-gradient(
    #FFFFFF 6px,
    transparent 6px
  );
  background-size: 60px 60px;
}

h1{
  font-family: "AlteHaasGrotesk";
  font-size: 32px;
}